<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link rel="stylesheet" href="../../styles/app.css" />
    <link rel="stylesheet" href="../../styles//hero.css" />
  </head>
  <body class="container">
    <div class="hero">
      <div
        class="hero:content flex gap--lg align:center flex--wrap justify:center"
      >
        <section class="hero:text-column flex flex--columns gap">
          <header class="flex flex--columns gap--sm">
            <h2 class="color:heading--default">Melanie D. Krummel</h2>
            <p class="h6 color:subheading--default">
              G.G., F.G.A., C.S.M. | GIA, GEM-A, NAJA, AGA
            </p>
            <hr />
          </header>
          <p>
            Melanie Krummel established Jewelry, Appraisals, Inc., with a vision
            to conveniently serve retail jewelry stores, law offices, insurance
            companies and private clientele with concise, efficiently prepared
            jewelry appraisals.
          </p>
          <footer class="flex gap">
            <a class="btn btn--default" href="#">View Services</a>
            <a class="btn btn--default" href="#">Learn about me</a>
          </footer>
        </section>
        <section class="hero:image-column flex justify:center">
          <img
            class="hero:image"
            src="../../assets/hero-image.jpg"
            alt="Melanie D. Krummel"
          />
        </section>
      </div>
    </div>
  </body>
</html>
