.sub-section {
  padding-bottom: 4rem;
}

.sub-section-header {
  position: relative;
}

.sub-section-header\:circle {
  --size: 6rem;

  position: absolute;
  top: -2.8rem;
  left: -3rem;

  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  border: 1px solid var(--color-call-to-action--default);
  pointer-events: none;
  opacity: 0.3;
}

.sub-section\:col-text {
  --max-width: 40.625rem;
  max-width: var(--max-width);
  width: 100%;
  flex: 1 1 var(--max-width);
}
