<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Section Header</title>
    <link rel="stylesheet" href="../../styles/app.css" />
    <link rel="stylesheet" href="../../styles/section-header.css" />
  </head>
  <body class="container">
    <div
      class="section-header flex flex--wrap align:center justify:center gap--lg"
    >
      <div class="section-header:column-image">
        <img
          src="../../assets/section-images.jpg"
          alt="Gemological Services"
          id="gemological-services-image"
        />
      </div>
      <section class="section-header:column-text">
        <div class="section-header:text flex flex--columns gap">
          <h2 class="color:heading--default">Gemological Services Offered</h2>
          <p>
            Whether you are looking for a written appraisal document or an
            estate jewelry consultant, this process can be done while you watch
            in my office or yours, the privacy of your home or bank and at a
            conveniently located jewelry partner near you.
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
